[submodule "godot_plugins/godot_headers"]
	path = godot_plugins/godot_headers
	url = https://github.com/GodotNativeTools/godot_headers
[submodule "godot_plugins/godot-cpp"]
	path = godot_plugins/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
